@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');

button, input, textarea {
  font-family: 'Caveat', cursive;
  font-weight: 600;
  letter-spacing: 1.4px;
  line-height: 13px;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: rgb(90, 88, 88);
  box-shadow: 0 0 0px 1000px rgba(201, 198, 198, 0.329) inset;
  transition: background-color 5000s ease-in-out 0s;
}

.contact-container {
  flex: 0 1 700px;
  margin: auto;
  padding: 0px;
}

.screen {
  position: absolute;
  width: 60vw;
  top: 25%;
  left: 20%;
  background: #d6d5d5e0;
  border-radius: 15px;
  box-shadow: 5px 10px 25px #1d1d1dda;
  z-index: 100;
}

.screen-body {
  display: flex;

}

.screen-body-item {
  flex: 1;
  padding: 25px;
}

.screen-body-item.left {
  display: flex;
  flex-direction: column;
}

.app-title {
  display: flex;
  flex-direction: column;
  position: relative;
  color: #ea1d6f;
  font-size: 30px;
  font-weight: 700;
  font-family: 'Caveat', cursive;
}

.app-title:after {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  bottom: -10px;
  width: 50px;
  height: 4px;
  background: #ea1d6f;
}

.icons-container {
  position: relative;
  display: flex;
  flex-direction: row;
  top: 230px;
  left: 20px;
}

.icon {
  margin: 3px;
  color: #918c8cbb;
  
}

.icon:hover {
  color: rgba(202, 37, 128, 0.849);
}

.app-contact {
  margin-top: -10px;
  margin-left: 50px;
  left: 199px;
  font-size: 25px;
  font-family: 'Caveat', cursive;
  text-align: left;
  color: #888;
  width: 80%;
}

.phone, .email {
  left: 0px;
  font-size: 25px;
  margin: 0px;
  color: #999;
}

.phone {
  position: absolute;
  margin-top: 0px;
  margin-right: -30px;
  left: 40px;
}

.fa-envelope {
  position: relative;
  margin-bottom: -10px;
  margin-right: 25px;
  left: -170px;
  top: 22px;
}

.fa-envelope:hover {
  color: deeppink;
}

a {
  color: #888;
}

a:hover {
  color: deeppink;
}

.app-form-group {
  margin-bottom: 1px;
}

.app-form-group.message {
  margin-top: 1px;
}

.app-form-group.buttons {
  margin-bottom: 0;
  text-align: right;
}

.app-form-control {
  width: 100%;
  padding: 8px 0;
  background: none;
  border: none;
  border-bottom: 1px solid #666;
  color: rgb(0, 0, 0);
  font-size: 14px;
  text-transform: uppercase;
  outline: none;
  transition: border-color .2s;
}

.app-form-control::placeholder {
  color: #666;
}

.app-form-control:focus {
  border-bottom-color: #ddd;
}

.app-form-button {
  background: none;
  border: none;
  color: #ea1d6f;
  font-size: 14px;
  cursor: pointer;
  outline: none;
}

.app-form-button:hover {
  color: #b9134f;
}

@media screen and (max-width: 520px) {
  .screen-body {
    flex-direction: column;
  }

  .screen-body-item.left {
    margin-bottom: 30px;
  }

  .app-title {
    right: -65px;
    flex-direction: row;
  }

  .app-title span {
    margin-right: 12px;
  }

  .app-title:after {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  .screen-body {
    padding: 2px;
  }

  .screen-body-item {
    padding: 0;
  }
  .fa-envelope, .fa-phone-alt {
    display: none;
  }
}
