@import url('https://fonts.googleapis.com/css2?family=Cinzel&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tangerine&display=swap');

.head {
    position: relative;
    background: pink;
    height: auto;
    opacity: 0.8;
    z-index: 10000000;
}


.head-h1 {
   padding: 5px;
    text-align: center; 
    vertical-align: text-top; 
    font-family: 'Cinzel', serif;
    font-size: 26px;
}

.head-h2 {
    position: relative;
    vertical-align: text-top;
    text-align: center;
    top: -30px;
    margin-top: -27px;
    font-family: 'Tangerine', cursive;
    font-size: 29px;
    font-weight: bold;
    text-decoration: underline;
    cursor: pointer;
}

.head-h3 {
    position: relative;
    float: right;
    vertical-align: text-top;
    text-align: center;
    top: -50px;
    margin-top: -27px;
    font-family: 'Tangerine', cursive;
    font-size: 29px;
    font-weight: bold;
    text-decoration: underline;
    cursor: pointer;
}

.header-fas {
    color: black;
    cursor: pointer;
}

.header-fas:hover {
    color: aqua;
}