.navigation {
    text-align: center;
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
    height: 50px;
    background: rgb(1, 112, 112);
    opacity: 0.8;
    box-shadow: 1px 2px 20px black;
    overflow: hidden;
    border: 1px solid rgba(100, 100, 100, 0.671);
    z-index: 100000000;
}

.container {
    display: flex;
    justify-content: center;
    padding: 15px;
}

.h1 {
    margin: 0;
    top: 10px;
}

.nav-links {
    position: relative;
    color: rgb(0,0,128);
    border-radius: 5px;
    padding: 9px;
    bottom: 10px;
    text-decoration: none;
    text-shadow: 1px 1px 1px black;
}

.nav-links:hover {
    color: aqua;
    background: rgba(255, 254, 254, 0.116);
    text-decoration: none;
}

ul {
    display: flex;
    flex: 1;
}

li {
    list-style-type: none;
    padding: 0.3rem;
}

.active {
    text-decoration: underline;
    color: rgb(0, 0, 0);
  }