header {
    text-align: center;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    height: 50px;
    background: rgb(43, 163, 172);
    opacity: 0.8;
    box-shadow: 1px 2px 20px black;
    overflow: hidden;
    z-index: 1000;
}

.container {
    display: flex;
    justify-content: center;
    padding: 5px;
}

.h1 {
    margin: 0;
    top: 10px;
}

.nav-links {
    color: white;
    text-decoration: none;
}

ul {
    display: flex;
    flex: 1;
}

li {
    list-style-type: none;
    padding: 0.3rem;
}

.active {
    text-decoration: underline;
    color: rgb(0, 0, 0);
  }