.modal {
    position: fixed;
    top: 0;
    left: 0;
    width:100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    z-index: -1000;
  }
  
  .modal-main {
    position:fixed;
    background: white;
    width: 40%;
    height: auto;
    top:50%;
    left:50%;
    border-radius: 15px;
    box-shadow: 5px 10px 25px #1d1d1dda;
    transform: translate(-50%,-50%);
  }

  .modal-main:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 5px;
    right: 5px;
    bottom: 0;
    border-radius: 15px;
    box-shadow: 0 20px 40px rgba(0, 0, 0, .4);
    z-index: -1;
  }
  
  .display-block {
    display: block;
  }
  
  .display-none {
    display: none;
  }

  .closeBtn {
    position: relative;
    float: right;
    border: none;
    background-color: white;
    top: -200px;
    right: 10px;
  }