input[type=text], [type=email], select, textarea {
  width: 60%; /* Full width */
  padding: 12px; /* Some padding */ 
  border: 2px solid #ccc; /* Gray border */
  border-radius: 5px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 2px; /* Add a top margin */
  margin-bottom: 10px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

textarea {
  height: 100px;
}

/* Style the submit button with a specific background color etc */
input[type=submit], [type=reset] {
  position: relative;
  left: -479px;
  bottom: -60px;
  background-color: #04AA6D;
  color: white;
  margin-right: 5px;
  padding: 4px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  background-color: #45a049;
}

input[type=reset]:hover {
  background-color: #45a049;
}

/* Add a background color and some padding around the form */
.modal {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px 100px 20px 20px;
}