input[type=text], [type=email], [type=country], select, textarea {
  width: 60%; /* Full width */
  padding: 12px; /* Some padding */ 
  border: 2px solid #ccc; /* Gray border */
  border-radius: 5px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 2px; /* Add a top margin */
  margin-bottom: 10px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

textarea {
  height: 100px;
  line-height: 20px;
}

/* Style the submit button with a specific background color etc */
input[type=submit], [type=reset] {
  position: relative;
  left: -27vw;
  bottom: -30px;
  background-color: #90CDF4;
  color: white;
  margin-right: 5px;
  padding: 4px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  background-color: #1bbacf;
}

input[type=reset]:hover {
  background-color: #1bbacf;
}

/* Add a background color and some padding around the form */
.modal {
  position: relative;
  top: 10px;
  width: 80%;
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px 100px 20px 20px;
  margin-bottom: 50px;
  box-shadow: 5px 10px 30px rgba(0, 0, 0, 0.5);
  opacity: 0.9;
}

.contact-icons {
  position: absolute;
  right: 20px;
  left: 420px;
  /* top: 3px; */
  display: flex;
  flex-direction: column;
  margin: 0;
}

.phone {
  position: absolute;
  top: 40px;
}

.email {
  position: absolute;
  top: 100px;
  width: 1px;
}

h3 {
  position: relative;
  font-size: 20px;
  text-align: left;
  padding-left: -20px;
  padding-top: 5px;
  top: 50px;
  right: -50px;
  
}

.icons-container {
  position: absolute;
  right: 5px;
  left: 34vw;
  bottom: 55px;
  display: flex;
  flex-wrap: wrap;
  opacity: 1;
}

.icon {
  /* width: 80px; */
  padding: 10px;
  opacity: 0.8;
  font-size: 24px;
}

.icon:hover {
  opacity: 1;
}

iconfaFacebookSquare:hover {
  font-size: 27px;
}